.search-bar {
  display: flex;
  align-items: center;

  position: relative;
  box-sizing: border-box;

  width: clamp(320px, 35vw, 672px);
  height: clamp(40px, 3.7vh, 56px);

  padding: clamp(6px, 0.7vh, 8px) clamp(32px, 2vw, 40px) clamp(6px, 0.7vh, 8px)
    clamp(12px, 0.8vw, 16px);

  border-radius: clamp(6px, 0.4vw, 8px);
  border: 1px solid #e8e8e8;

  background-color: white;
}

.search-button {
  position: absolute;
  right: clamp(12px, 0.8vw, 16px);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;

  border: none;
  background: transparent;

  cursor: pointer;
}

.search-button img {
  width: clamp(14px, 0.8vw, 16px);
  height: clamp(14px, 0.8vw, 16px);
}

.search-input {
  width: 100%;

  border: none;
  outline: none;
  background: transparent;

  color: #1f2937;

  font-size: clamp(14px, 0.85vw, 16px);
  font-weight: 400;
}

.search-input::placeholder {
  color: #c8c8c8;
}
